@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

@import "_color";
$color2: white;

*{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;

}

::selection{
    background:$color1;
    color: $color2;

}

.boton{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: linear-gradient($color1,#0c443a);
    font-size: 1.8rem;
    color: $color2;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}

.boton:hover{
    transform: scale(1.1);

}

.cabeza{
    text-align: center;
    background: #0c443a;
    color: transparent; -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding : 1rem;

}

html{
    font-size: 62%;
    overflow: scroll;

}

body{
    background: whitesmoke;

}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.55rem;
    padding-bottom: 2rem;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:$color2;
    box-shadow: 0 .5rem 1rem rgba (0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header .logo{
    font-size: 2rem;
    color: #000000;

}


header .logo span{
color: #ff0000;

}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: #0c443a;
}

header .navbar a:hover{
    color: $color1;

}

header input{
display: none;

}

header label{
    font-size: 3rem;
    color: #0c443a;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

@mixin ReglasInicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

}

.inicio{
    @include ReglasInicio();
    background:url(../img/RedBull\ RB18.jpg) no-repeat;
}

.inicio2{
    @include ReglasInicio();
    background:url(https://www.formula1.com/content/fom-website/en/teams/Ferrari/_jcr_content/gallery/image1.img.1920.medium.jpg/1647107707871.jpg) no-repeat;
}

.inicio3{
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/Mercedes/_jcr_content/gallery/image5.img.1920.medium.jpg/1646932821739.jpg) no-repeat;

}

.inicio4  {
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/McLaren/_jcr_content/gallery/image4.img.1920.medium.jpg/1646932823104.jpg) no-repeat;

}

.inicio5  {
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/Alfa-Romeo-Racing/_jcr_content/gallery/image1.img.1920.medium.jpg/1647088906995.jpg) no-repeat;


}

.inicio6  {
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/Aston-Martin/_jcr_content/gallery/image2.img.1920.medium.jpg/1647107385951.jpg) no-repeat;

}

.inicio7  {
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/AlphaTauri/_jcr_content/gallery/image1.img.1920.medium.jpg/1647107383853.jpg) no-repeat;

}

.inicio8  {
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/Alpine/_jcr_content/gallery/image3.img.1920.medium.jpg/1647107707524.jpg) no-repeat;

}

.inicio9  {
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/Williams/_jcr_content/gallery/image2.img.1920.medium.jpg/1647107385013.jpg) no-repeat;

}

.inicio10  {
    @include ReglasInicio();
    background: url(https://www.formula1.com/content/fom-website/en/teams/Haas-F1-Team/_jcr_content/gallery/image1.img.1920.medium.jpg/1647007443268.jpg) no-repeat;

}

.inicio .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio .content{
    font-size: 5.5rem;
    color: rgb(0, 32, 212);
    text-transform: uppercase;

}

.inicio .content h3 span{
    color: #fbff00;
    text-transform: uppercase;

}

.inicio .content p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

.inicio2 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio2 .content2{
    font-size: 5.5rem;
    color: rgb(251, 255, 0);
    text-transform: uppercase;

}

.inicio2 .content2 h3 span{
    color: rgb(182, 0, 0);

}

.inicio2 .content2 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}
 
.inicio3 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio3 .content3{
    font-size: 5.5rem;
    color: rgb(143, 143, 143);
    text-transform: uppercase;

}

.inicio3 .content3 h3 span{
    color: rgb(182, 0, 0);

}

.inicio3 .content3 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

.inicio4 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio4 .content4{
    font-size: 5.5rem;
    color: rgb(255, 136, 0);
    text-transform: uppercase;

}

.inicio4 .content4 h3 span{
    color: rgb(0, 181, 253);

}

.inicio4 .content4 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

.inicio5 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio5 .content5{
    font-size: 5.5rem;
    color: rgb(187, 0, 0);
    text-transform: uppercase;
}

.inicio5 .content5 h3 span{
    color: rgb(255, 255, 255);

}

.inicio5 .content5 p{
    font-size: 1.7rem;
    color: rgb(173, 173, 173);
    padding: 1rem 0;
}

.inicio6 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio6 .content6{
    font-size: 5.5rem;
    color: rgb(0, 168, 104);
    text-transform: uppercase;
}

.inicio6 .content6 h3 span{
    color: rgb(0, 168, 104);

}

.inicio6 .content6 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

.inicio7 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio7 .content7{
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.inicio7 .content7 h3 span{
    color: rgb(0, 39, 148);

}

.inicio7 .content7 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

.inicio8 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio8 .content8{
    font-size: 5.5rem;
    color: rgb(0, 48, 180);
    text-transform: uppercase;
}

.inicio8 .content8 h3 span{
    color: rgb(219, 0, 146);

}

.inicio8 .content8 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

.inicio9 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio9 .content9{
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.inicio9 .content9 h3 span{
    color: rgb(0, 110, 212);

}

.inicio9 .content9 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

.inicio10 .image img{
    width: 40vw;
    animation: float 3s linear infinite;

}

.inicio10 .content10{
    font-size: 5.5rem;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
}

.inicio10 .content10 h3 span{
    color: rgb(255, 255, 255);

}

.inicio10 .content10 p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
}

@keyframes float{
0%, 100%{
    transform: translateY(0rem);
}
50%{
    transform: translateY(-3.5rem);
}
}



.detalles .caja-contenedora{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.detalles .caja-contenedora .caja{
    flex: 1 1 30rem;
    background: $color2;
    border-radius: 0.5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5 1rem rgba(0, 0, 0, .2);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;

}

.detalles .caja-contenedora .caja img{
    height: 15rem;
    
}

.detalles .caja-contenedora .caja h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;

}

.detalles .caja-contenedora .caja p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;


}

.acercade{
    background: url(../img/fondo_2.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;

}

.acercade .columma{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.acercade .columma .image {
    flex: 1 1 30rem;

}

.acercade .columna .image img {
    width: 40%; 

}

.acercade .columna .content{
    flex: 1 1 30rem

}

.acercade .columna .content h3{
    font-size: 3rem;
    color: #333;

}

.acercade .columna .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;

}

.acercade .columna .content .botones a:last-child{
    margin-left: 2rem;

}



.grid-container {
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 3rem;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.precios .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.precios .caja-contenedor .caja{
    flex: 1 1 28rem;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;

}


.precios .caja-contenedor .caja:hover{
    border: .2rem solid $color1

}

.precios .caja-contenedor .caja .titulo{
    color: $color2;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.precios .caja-contenedor .caja .tipos{
    font-size: 4rem;
    color: black;
    padding: 1rem 0;

}

.precios .caja-contenedor .caja .tipos span{
    font-size: 2rem;
}

.precios .caja-contenedor .caja ul{
    padding: 1rem 0;
    list-style: none;
}

.precios .caja-contenedor .caja ul li{
    font-size: 1.7rem;
    color: #333;
    padding: .5rem 0;

}

.precios .caja-contenedor .caja ul li .fa-check{
    color: lightgreen;   
}

.precios .caja-contenedor .caja ul li .fa-times{
    color: red;
}

.contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    
}

.contactos .image{
    flex: 1 1 40rem;
}

.contactos .image img{
    width: 100%;
    padding: 2rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.contactos form{
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: white;
}

.contactos .cabeza{
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
    
}

.contactos form .inputcaja{
    position: relative ;

}

.contactos form .inputcaja input, .contactos form .inputcaja textarea{
    width: 100%;
    background: none;
    color: #333;
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;

}

.contactos form .inputcaja textarea{
    resize: none;
    height: 13rem;

}

.contactos form .inputcaja label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: .2 linear;

}

.contactos form .inputcaja input:focus ~ label,
.contactos form .inputcaja input:valid ~ label,
.contactos form .inputcaja textarea:focus ~ label,
.contactos form .inputcaja textarea:valid ~ label{
    top:-.5rem;
    font-size: 1.5rem;
    color: $color1;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}

@media(max-width: 1200px){
    html{
        font-size: 55%;

    }
}

@media (max-width: 990px){
    section{
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }


}

@media(max-width: 768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        width: 100%;
        background: $color2;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;

    }

    header.navbar a{
    display: block;
    margin: 2rem 0;
    font-size: 2rem
    

    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;

    }

    header input:checked ~ label::before{
        content: '\f00d';

    }

    .inicio{

        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 100%;

    }

    .inicio.content h3{
        font-size: 3.6rem;

    }

    .inicio.content p{
        font-size: 1.5rem;

    }

    .acercade{
        background-position: right;

    }
}

@media(max-width: 450){
    html{
        font-size: 49%;
    }
    .acercade .columma .content .botones a{
        width: 100%;
        text-align: center;

    }

    .acercade .columma .content .botones a:last-child{
        margin: 1rem 0;

    }
}

.separador {
    
    width: 100%;
    height: 5rem;
    background-color: rgb(4, 0, 59);
}